<div class="container">
  <div class="row">
    <!---------------- Register ---------------->
    <div class="Register">
      <div class="container-return"></div>
      <div class="box">
        <h1>Register Products</h1>
        <span class="p-float-label">
          <input
            [(ngModel)]="name"
            name="name"
            type="text"
            pInputText
            id="name"
          />
          <label htmlFor="email">Name</label>
        </span>
        <span class="p-float-label">
          <textarea
            ngModel
            required
            [(ngModel)]="description"
            name="description"
            type="text"
            pInputText
            id=" description"
          >
          </textarea>
          <label htmlFor="description">description</label>
        </span>
        <span class="p-float-label">
          <input
            ngModel
            required
            [(ngModel)]="price"
            name="Price"
            type="number"
            pInputText
            id=" Price"
          />
          <label htmlFor="Price">Price</label>
        </span>

        <div class="container-btn">
          <button
            (click)="addProduct()"
            pButton
            class="button"
            label="Sign Up"
          ></button>
        </div>
      </div>
    </div>
    <!---------------- Register ---------------->

    <!---------------- List ---------------->
    <div class="container-list">
      <div class="card">
        <tr class="list" *ngIf="productList">
          <h2>List Products</h2>
          <div class="container-list-group">
            <td class="list-item" *ngFor="let product of productList">
              <h3>Titulo - {{ product.name }}</h3>
              <br />
              <p>Description - {{ product.description }}</p>
              <br />
              price R$ - {{ product.price }}
              <!---------------- List ---------------->

              <!---------------- Modal Editar ---------------->
              <div class="container-btn">
                <button
                  (click)="showDialog(product)"
                  class="pi pi-user-edit"
                  label="Show"
                ></button>
                <p-dialog
                  header="Editar product"
                  [(visible)]="visible"
                  [modal]="true"
                  [style]="{
                    width: '40vw',
                    height: '50vh',
                  }"
                >
                  <div class="container-modal">
                    <span class="p-float-label">
                      <input
                        [(ngModel)]="editName"
                        name="name"
                        type="text"
                        pInputText
                        id="name"
                      />
                      <label htmlFor="email">Name</label>
                    </span>
                    <span class="p-float-label">
                      <textarea
                        ngModel
                        required
                        [(ngModel)]="editDescription"
                        name="description"
                        type="text"
                        pInputText
                        id=" description"
                      >
                      </textarea>
                      <label htmlFor="description">description</label>
                    </span>
                    <span class="p-float-label">
                      <input
                        ngModel
                        required
                        [(ngModel)]="editPrice"
                        name="Price"
                        type="number"
                        pInputText
                        id=" Price"
                      />
                      <label htmlFor="Price">Price</label>
                    </span>
                  </div>
                  <ng-template pTemplate="footer">
                    <button
                      (click)="saveItem()"
                      pButton
                      icon="pi pi-check"
                      label="Editar"
                      styleClass="p-button-text"
                    ></button>
                    <button
                      pButton
                      icon="pi pi-check"
                      (click)="closeDialog()"
                      label="Voltar"
                      styleClass="p-button-text"
                    ></button>
                  </ng-template>
                </p-dialog>
                <!---------------- Modal Editar ---------------->

                <!---------------- Delete ---------------->
                <button
                  (click)="deleteItem(product.id)"
                  class="pi pi-file-excel"
                ></button>
                <!---------------- Delete ---------------->
              </div>
            </td>
          </div>
        </tr>
      </div>
    </div>
  </div>
</div>
