@import 'primeicons/primeicons.css';

/*parte do registro de produtos*/
.container {
  display: flex;
  background-color: rgb(231, 233, 235);
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 20px 0px 0px 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  margin: 0px;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
  margin: 0px;
}

.row {
  width: 100%;
  display: flex;
}

.Register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.Listagem {
  flex-direction: column;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  width: 500px;
  height: 500px;
  background-color: rgb(248, 248, 248);
}

/*parte do registro de produtos*/

/*Partes que pertecem os 2*/
input {
  margin: 0px 0px 15px 0px;
  width: 100%;
}

textarea {
  margin: 0px 0px 15px 0px;
  width: 100%;
}

.p-float-label {
  width: 100%;
}
.container-btn {
  width: 100%;
  margin: 10px 0px 0px 0px;
}

.button {
  width: 100%;
}

span {
  margin: 10px;
}
/*Partes que pertecem os 2*/

/*Parque da Listagem de produtos*/
.container-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.pi.pi-user-edit {
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pi.pi-times {
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100%;
  width: 100%;
}

.list-item {
  border-radius: 5px;
  background-color: rgb(241, 241, 240);
  margin: 5px;
  padding: 20px;
}

.container-list-group {
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
  width: 500px;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
}

/*Icons/btn*/
.pi-file-excel {
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container-btn {
  margin: auto;
  display: flex;
  justify-content: right;
}
/*Icons/btn*/

/*Modal*/
.container-modal {
  padding: 20px 20px 20px 0px;
}
/*Modal*/

/*Icone Return para Login*/

.retorn {
  display: flex;
  margin: 0;
  justify-content: left;
}

.pi-arrow-left {
  justify-content: left;
  display: flex;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

/*Icone Return para Login*/

/*Parque da Listagem de produtos*/

/*RESPONSIVIDADE DO LAYOUT*/
@media screen and (max-width: 1115px) {
  .container {
    height: auto;
  }

  .Register {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 20px 0px 20px 0px;
  }

  .container-list {
    width: 100%;
    padding: 0px;
    margin: 20px 0px 20px 0px;
  }

  .card {
    width: 90%;
    margin: 20px 0px 20px 0px;
  }

  .list {
    padding: 30px;
  }

  .box {
    width: 90%;
    height: 90%;
    margin: 0px !important ;
    padding: 30px;
  }

  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
/*RESPONSIVIDADE DO LAYOUT*/
