<div class="container">
  <div class="row">
    <div class="Register">
      <div class="box">
        <h1>Register Products</h1>
        <span class="p-float-label">
          <input
            [(ngModel)]="name"
            name="name"
            type="text"
            pInputText
            id="name"
          />
          <label htmlFor="email">Name</label>
        </span>
        <span class="p-float-label">
          <textarea
            ngModel
            required
            [(ngModel)]="description"
            name="description"
            type="text"
            pInputText
            id=" description"
          >
          </textarea>
          <label htmlFor="description">description</label>
        </span>
        <span class="p-float-label">
          <input
            ngModel
            required
            [(ngModel)]="price"
            name="Price"
            type="number"
            pInputText
            id=" Price"
          />
          <label htmlFor="Price">Price</label>
        </span>

        <div class="container-btn">
          <button
            (click)="addProduct()"
            pButton
            class="button"
            label="Sign Up"
          ></button>
        </div>
      </div>
    </div>

    <div class="card flex justify-content-center">
      <p-orderList
        class="container-list"
        [value]="productList"
        [listStyle]="{ 'max-height': '40rem' }"
        header="Listing Products"
        filterBy="name"
        filterPlaceholder="Filter by name"
      >
        <ng-template let-product pTemplate="item">
          <div class="flex align-items-center p-2 w-full flex-wrap">
            <div class="flex-1">
              <h5 class="mb-2">{{ product.name }}</h5>
              <i class="pi pi-tag vertical-align-middle mr-2"></i>
              <span class="vertical-align-middle line-height-1">
                Description:
                {{ product.description }}</span
              >

              <button class="pi pi-user-edit" style="font-size: 1rem"></button>
              <button class="pi pi-times" style="font-size: 1rem"></button>
            </div>

            <div class="flex flex-column align-items-end">
              <h6 class="mb-2">Price{{ "$ " + product.price }}</h6>
            </div>
          </div>
        </ng-template>
      </p-orderList>
    </div>
  </div>
</div>
